.breeserif {
    font-family: 'Bree Serif', serif;
}

.gentiumbasic {
    font-family: 'Gentium Basic', serif;
}

.sarabun {
    font-family: 'Sarabun', sans-serif;
}

.dmsans {
    font-family: 'DM Sans', sans-serif;
}

.pontanosans {
    font-family: 'Pontano Sans', sans-serif;
}